<!DOCTYPE html>
<h1>I got my mind on my bamboo, and bamboo on my mind</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">baby panda's alliance</a>
  .  The only place where we don't force baby panda's to mate.
</p>

<%= link_to "Sign up for BAMBOOooooo!!!", '#', :class => "signup_button round" %>



